{% extends 'base.html' %} 

{% block content %}

<div id="paihome">
	
	
		<div id= "pq">
			<h2>Por que doar?</h2>
			<hr size=“7” width=“50%” color="brown"/>
			<p>"A idéia da doação é uma forma de devolver a sociedade um pouco do que se consquistou,
			seja de forma material ou sentimental, investindo em iniciativas que possam de alguma
			forma mudar ou até mesmo salvar vidas. Diversas pessoas estão cada vez mais engajadas
			nesta causa. Seja qual for a motivação, a doação é um ato grandioso que envolve diversos
			sentimentos entre as partes da ação. O final de ano é uma época em que as pessoas costumam
			fazer seus balanços pessoais: o que fizeram, o que deveriam ou não ter feito, mas o mais
			importate é O QUE AINDA SE PODE FAZER? E você, já fez sua doação hoje?"</br></br>
			link: http://www.acolhida.org.br/por-que-doar/
			</p>
		</div>
	

		<div id="do">
			<h2>Como doar através de nosso site?</h2>
			<hr size=“7” width=“50%” color="brown"/>
			<p>Nosso site é voltado para o cadastramento de instituições para que sua localização
			 apareça em nosso mapa e assim, com esta informação, nossos visitantes e doadores possam
			 doar de forma direta, no caso, doações de roupas, calçados, comidas, brinquedos, entre
			 outros e para que possam tambem se informar como e onde doar sangue ou orgâos. Caso não
			 possa se deslocar até o ponto, temos a possibilidade de cadastramento de doadores, para
			 que possa doar dinheiro através de nosso site, para o lugar que quiser, desde que esteja
			 dentro de nosso mapa.</p>

		</div>

</div>

	

{% endblock %}

